In [2]:
import pandas as pd
import joblib
#from ml.features import prepare_features
import os

In [4]:
%run "C:/Users/sebas/Documents/trading_bot_project/ml/features.ipynb"

# === PARAMÃˆTRES ===

In [18]:

DATA_PATH = "C:/Users/sebas/Documents/trading_bot_project/data/btc_usdt.csv"
MODEL_PATH = "C:/Users/sebas/Documents/trading_bot_project/ml/model_rf_100-42.pkl"
SAVE_SIGNALS = True
SIGNAL_PATH = "C:/Users/sebas/Documents/trading_bot_project/data/predictions.csv"

# === CHARGER LES DONNÃ‰ES ===

In [10]:
df = pd.read_csv(DATA_PATH, parse_dates=["Date"], index_col="Date")

In [33]:
df

                         Open      High       Low     Close       Volume
Date
2023-01-01 00:00:00  16541.77  16545.70  16508.39  16529.67   4364.83570
2023-01-01 01:00:00  16529.59  16556.80  16525.78  16551.47   3590.06669
2023-01-01 02:00:00  16551.47  16559.77  16538.14  16548.19   3318.84038
2023-01-01 03:00:00  16548.19  16548.19  16518.21  16533.04   4242.08050
2023-01-01 04:00:00  16533.04  16535.97  16511.92  16521.85   4285.00909
...                       ...       ...       ...       ...          ...
2023-01-21 15:00:00  22955.80  23280.00  22930.92  22998.90  20526.86682
2023-01-21 16:00:00  22998.90  23269.73  22980.00  23197.45  18963.01053
2023-01-21 17:00:00  23196.43  23371.80  23126.06  23226.65  21948.64533
2023-01-21 18:00:00  23225.17  23269.99  23053.24  23248.52  12484.54121
2023-01-21 19:00:00  23247.40  23308.06  23174.08  23270.50   8812.55582

[500 rows x 5 columns]

In [45]:
# import matplotlib.pyplot as plt

In [47]:
# plt.figure(figsize=(14,7))
# plt.plot(df['Close'])
# plt.plot(df['Close']-df['Close'].shift(5)) #Momentum Ã  5

# === GÃ‰NÃ‰RER LES FEATURES ===

In [13]:
features_df = prepare_features(df)

# === CHARGER LE MODÃˆLE ===

In [20]:
model = joblib.load(MODEL_PATH)

# === FAIRE LA PRÃ‰DICTION ===

In [23]:
X = features_df.drop("Target", axis=1)
features_df["Prediction"] = model.predict(X)

# === SIGNAL DE TRADING ===
 1 â†’ Long | 0 â†’ Cash

In [26]:
last_signal = features_df["Prediction"].iloc[-1]
last_date = features_df.index[-1]

In [28]:
print(f"ðŸ“ˆ Signal du {last_date.date()} : {'ACHAT (long)' if last_signal == 1 else 'VENTE / CASH'}")

ðŸ“ˆ Signal du 2023-01-21 : VENTE / CASH

# === SAUVEGARDER LE SIGNAL SI BESOIN ===

In [31]:

if SAVE_SIGNALS:
    os.makedirs("data", exist_ok=True)
    features_df[['Prediction']].to_csv(SIGNAL_PATH)